name: "FXZ Edit"
version: "0.1.0"
dependencies:
  fxz: "STRd6/fxz:v0.3.2"
  sys: "STRd6/system-client:v0.1.5"
remoteDependencies: [
  "https://unpkg.com/butternut@0.4.6/dist/butternut.min.js"
]
publish:
  s3:
    basePath: "public/danielx.net"
