*
  box-sizing: border-box

body
  background-color: black
  color: white
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-size: 16px
  font-weight: 300
  margin: 0

  > application
    display: block

button, a.button
  color: #EEE
  border-style: outset
  border-width: 2px
  background-color: #777
  border-top-color: slategray
  border-left-color: slategrey
  border-bottom-color: #666
  border-right-color: #666
  display: inline-block
  font-family: inherit
  font-size: inherit
  font-weight: inherit
  line-height: 1em
  padding: 0.5em
  text-decoration: none
  text-shadow: 1px 1px #000

a.button[download]::before
  content: "⬇ "

h2
  font-size: 1em
  margin: 0

div.effect
  > canvas
    display: block

section.generators
  display: flex
  > button
    flex: 1

section.controls
  display: flex

  > section.group
    flex: 1

    &:first-child
      flex: 0

    > h2
      font-size: 12px

section.wave-shape > label
  align-items: center
  display: flex
  justify-content: space-between
  padding: 0 0 4px

  > h3
    display: inline
    font-size: 1em
    font-weight: normal
    margin: 0
    margin-right: 4px
  
  > input[type="radio"]
    display: none

span.checked::before
  content: "☑"

span.unchecked::before
  content: "☐"

input[type="radio"]:checked ~ span.unchecked
  display: none

input[type="radio"]:not(:checked) ~ span.checked
  display: none

section.control
  align-items: center
  display: flex
  position: relative

  > input[type="range"]
    width: 100%

  > label
    position: absolute
    pointer-events: none
    font-size: 12px
    font-variant: small-caps
    right: 3px
    top: -6px
    z-index: -1
