*
  box-sizing: border-box

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-size: 16px
  font-weight: 300
  margin: 0

  > application
    display: block

h2
  font-size: 1em
  margin: 0

div.effect
  > div.actions
    > a
      padding: 0 1em
  > canvas
    display: block

section.generators
  display: flex
  > button
    flex: 1

section.controls
  display: flex
  flex-wrap: wrap

section.group
  > h2
    font-size: 12px

section.control
  align-items: center
  display: flex
  position: relative

  > label
    position: absolute
    pointer-events: none
    font-size: 12px
    right: 3px
    top: -4px
    z-index: -1
