*
  box-sizing: border-box

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-size: 16px
  font-weight: 300
  margin: 0

h2
  font-size: 1em
  margin: 0

div.effect
  > div.actions
    > a
      padding: 0 1em
  > canvas
    display: block
